<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="script.js"></script>
		<title></title>
		<link rel="stylesheet" href="./css/invoice.css" />
	</head>
	<body>
		<div class="wrapper">
			<table id="header">
				<tr>
					<td id="logo">
						<img src="./logo_negro_sm.jpg" />
					</td>
					<td id="invoice">
						<h3>Faktura - dańový doklad č. <span data-tpl="invoice_number"></span></h3>
						<table>
							<tr>
								<td>Datum vystavení:</td>
								<td data-tpl="creation_date"></td>
							</tr>
							<tr>
								<td>Datum zdanitelného plnění:</td>
								<td data-tpl="transaction_date"></td>
							</tr>
							<tr>
								<td>Datum splatnosti:</td>
								<td data-tpl="payment_date"></td>
							</tr>
							<tr>
								<td>Forma uhrady:</td>
								<td>Bankovani prevod</td>
							</tr>
							<tr>
								<td>Čislo bankovního učtu:</td>
								<td>9330544001/5500</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td id="seller">
						<h2>Dodavatel</h2>
						<h3>Agave Partners s.r.o.</h3>
						<span data-format="address">Rybná 716/24, 11000, Praha 1, Česká republika, , IČ: 05052351, DIČ: CZ05052351, Plátce DPH</span>
					</td>
					<td id="customer">
						<h2>Odberatel</h2>
						<h3 data-tpl="name"></h3>
						<span data-tpl="address"></span><br />
						<span data-tpl="ic">IC: </span>
						<span data-tpl="dic">DIC: </span>
					</td>
				</tr>
			</table>
			<pre></pre>
			<table id="products">
				<tr>
					<th>Pocet</th>
					<th>Popis</th>
					<th>Sazba DPH</th>
					<th>Cena bez DPH</th>
					<th>Cena s DPH</th>
					<th>Celkem s DPH</th>
				</tr>
				<tr class="lines">
					<td data-tpl="quantity"></td>
					<td data-tpl="name"></td>
					<td data-tpl="percentage"></td>
					<td data-tpl="price_no_dph" data-format="money"></td>
					<td data-tpl="price_dph" data-format="money"></td>
					<td data-tpl="total" data-format="money"></td>
				</tr>
			</table>
			<div id="total">
				<table>
					<tr>
						<td>Sazba DPH 21%</td>
						<td>Celkem bez DPH</td>
						<td>Celkem s DPH</td>
					</tr>
					<tr id="total1">
						<td data-tpl="dph" data-format="money"></td>
						<td data-tpl="total_no_dph" data-format="money"></td>
						<td data-tpl="total_dph" data-format="money"></td>
					</tr>
					<tr id="total2">
						<th>Celkem</th>
						<th data-tpl="total_no_dph" data-format="money"></th>
						<th data-tpl="total_dph" data-format="money"></th>
					</tr>
				</table>
				<h2 id="total3">Celkem k uhradě <span data-tpl="total_dph" data-format="money"></span></h2>
			</div>
			<div class="footer">Vystavil: Luis Daniel Tonathiu Ascencio Ramos</div>
		</div>
	</body>
</html>
