<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Faktura</title>
		<link rel="stylesheet" href="/css/invoice.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="title">Faktura dańový doklad 
				<span id="invoice-number">VF1-<b data-tpl="invoice_number"></b>/2020</span>
			</div>
			<table class="company">
				<tr>
					<td>Dodavatel:
						<img src="/logo.png" />
						<br />
						<h3>APL Group s.r.o.</h3>
						<div class="address">Balbínova 223/5
							<br />12000 Praha 2
							<br />Česká republika
						</div>
						<div class="dic">IČ: O2057506
							<br />DIČ: CZ02057506
						</div>
						<table class="contact">
							<tr>
								<td>Telefon:</td>
								<td>(+420) 792 775 917</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td>dariol@agavespirits.eu</td>
							</tr>
							<tr>
								<td>WWW:</td>
								<td>agavespirits.eu</td>
							</tr>
						</table>
					</td>
					<td>Odběratel - sídlo:
						<br />
						<h3 data-tpl="customer"></h3>
						<div class="address" data-tpl="address"></div>
						<div class="dic">IČ: <span data-tpl="ic"></span>
							<br />DIČ: <span data-tpl="dic"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<table class="bank-details">
							<tr>
								<td>Banka:</td>
								<td>Komerční banka, a.s.</td>
							</tr>
							<tr>
								<td>Bankovní účet:</td>
								<td id="account-number">107-5454560267 / 0100</td>
							</tr>
							<tr>
								<td>IBAN:</td>
								<td>CZ9101000001230519530227</td>
							</tr>
							<tr>
								<td>BIC:</td>
								<td>KOMBCZPPXXX</td>
							</tr>
							<tr>
								<td>Forma úhrady:</td>
								<td tpl="method"></td>
							</tr>
						</table>
					</td>
					<td>
						<table class="dates">
							<tr>
								<td>Vystaveno:</td>
								<td data-tpl="occurence"></td>
							</tr>
							<tr>
								<td>Datum splatnosti:</td>
								<td data-tpl="to_pay"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div class="separator">Fakturujeme vam:</div>
			<table id="products">
				<tr>
					<th>Označení dodávky</th>
					<th>Množství MJ</th>
					<th>Cena za MJ</th>
					<th>Celkem [Kč]</th>
				</tr>
				<tr>
					<td data-tpl="product"></td>
					<td data-tpl="amount"></td>
					<td data-tpl="price"></td>
					<td data-tpl="sum"></td>
				</tr>
			</table>
			<div class="sum" data-tpl="total0"></div>
			<div class="summary">
				<table>
					<tr>
						<td>Celkem bez DPH</td>
						<td data-tpl="total"></td>
					</tr>
					<tr>
						<td>Sazba DPH 21%</td>
						<td data-tpl="dph"></td>
					</tr>
					<tr>
						<th>Celkem k uhradě</th>
						<th data-tpl="final"></th>
					</tr>
				</table>
				<div class="signature">Razítko a podpis</div>
			</div>
		</div>
	</body>
</html>
