body{font-family:Helvetica, Arial; background-color:#000; margin:0;}
.wrapper{background-color:#FFF; width:670px; margin:0 auto; min-height:945px; padding:10px;}
#products td, #products th{border-style:solid; border-width:0 0 1px 0;}
#products th{border-color:#000; padding:0 10px;}
#products td{border-color:#CCC; padding:0 10px; text-align:center;}
#products{border-spacing:0; width:100%; font-size:13px;}
/*#seller{font-size:20px;}*/
#header{width:100%;}
h2, h3{margin:0;}
#invoice, #customer{vertical-align:top; text-align:right;}
#invoice table{display:inline-block;}
#customer span, #seller span{white-space: pre; display:block; font-size:14px;}
#seller, #customer{padding:0 20px 20px 20px;}
#invoice table{border:solid 1px #CCC;}
#invoice td{font-size:12px; padding:0 10px;}
#total{text-align:right;}
#total table{display:inline-block; border-spacing:6px; margin-top:70px; margin-bottom:30px;}
#total h2 span{display:inline-block; margin-left:35px;}
.footer{position:fixed; bottom:10px;}
