body{margin:0;}
.wrapper{margin:0 auto; padding:0 5%;}
.form-wrapper{margin:0 auto; width:800px;}
.wrapper div, .form-wrapper div{padding:10px 0;}
button{margin:0 5px;}
.topbar{margin:10px auto; width:1024px;}
.topbar div{display:table-cell;}
.topbar a{display:inline-block; padding:0 10px;}
.form-control{padding:1px;}
input.form-control{height:25px;}
.button-cell{text-align:center;}
select{color:#000;}
input{max-width:500px;}
input[type="number"]{width:100px;}
input.form-control[type="date"]{width:150px; line-height:15px;}
#extra{display:none;}
.del{display:none;}
.print{float:right;}
.pager a.active{color:#888;}
#actions a{margin:0 10px;}
th{text-align: center;}
.actions form{display:inline-block;}
.btn-default{color:#000;}
.btn-default:hover{color:#00f;}
tr td:last-child{text-align:right;}
table{border-spacing: 2px; border-collapse: unset;}
.action{width:250px;}
