<?php

//EXAMPLE FILE


$constants = [
//--------------------------------------------------DB--------------------------------------------------\\
	'D' => 'dbName',
	'H' => 'host',
	'U' => 'user',
	'P' => 'pasword',

//--------------------------------------------------OTHER--------------------------------------------------\\
	'LANG' =>  dirname(__DIR__).'/View/lang/es.php',
	'TPL' => 'tpl',
	'DUMP' => 'dump.sql',
	'USER' => ['sessionKey'=>'sessionKey', 'usersTable'=>'usersTable', 'usernameColumn'=>'usernameColumn', 'passwordColumn'=>'passwordColumn'],
];

foreach($constants as $key => $value)
	define("Configuration\\$key", $value);
